In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("car_data.csv")

In [3]:
data.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
data.shape

(892, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

## Quality

### (1)
- year has many non-year values.
- year has object type we have to convert to the integer

### (2)
- Price has Ask for Price named data which is not useful
- convert object to integer

### (3)
- Remove kms from each data.
- convert object to integer.
- Kms has NaN values.
- fuel_type has NaN values.
- Keep 3 words of name.

# Cleaning

In [6]:
backup = data.copy()

In [7]:
data = data[data["year"].str.isnumeric()]

In [8]:
data["year"] = data["year"].astype(int)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [10]:
data = data[data["Price"] != "Ask For Price"]

In [11]:
data["Price"] = data["Price"].str.replace(",", "").astype(int)

In [12]:
data["kms_driven"] = data["kms_driven"].str.split(" ").str.get(0).str.replace(",","")

In [13]:
data = data[data["kms_driven"].str.isnumeric()]

In [14]:
data["kms_driven"]=data["kms_driven"].astype(int)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [16]:
data = data[~data["fuel_type"].isna()]

In [17]:
data["name"] = data["name"].str.split(" ").str.slice(0, 3).str.join(" ")

In [18]:
data = data.reset_index(drop=True)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [20]:
data.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [21]:
data = data[data["Price"] < 6e6].reset_index(drop=True)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        815 non-null    object
 1   company     815 non-null    object
 2   year        815 non-null    int32
 3   Price       815 non-null    int32
 4   kms_driven  815 non-null    int32
 5   fuel_type   815 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [23]:
data.to_csv("cleaned_car.csv")

# Model Building

In [24]:
X = data.drop(columns="Price") # X = in Data we need all the column except Price because Price is  our target Column.
y = data["Price"] # y = Price is our target.

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [27]:
ohe = OneHotEncoder()
ohe.fit(X[["name", "company", "fuel_type"]])

OneHotEncoder()

In [28]:
column_transf = make_column_transformer((OneHotEncoder(categories=ohe.categories_), ["name", "company", "fuel_type"]), 
                                        remainder="passthrough")

In [29]:
lr = LinearRegression()

In [2]:
pipe = make_pipeline(column_transf, lr)

NameError: name 'make_pipeline' is not defined

In [31]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [32]:
y_pred = pipe.predict(X_test)

In [33]:
y_pred

array([ 261645.11244389,  243259.15974662,  -21623.53308368,
        169098.18321654,  501992.81284444,  200116.50594538,
        179519.66584856, 1891413.07412378, 1891516.8031588 ,
        367527.21733836,  236848.74907307,   85803.40457841,
        333874.13575365,  586563.10150406,  570883.03350531,
        123504.69507673,  243814.06009897,  257634.2244935 ,
         33059.38441125,  369327.64543206,  320455.54247986,
        443373.16980608,  131260.76168968,  220313.62192014,
        278259.35281967,  346882.21437876,  114811.22843231,
       1603295.25113938,  155671.43208671,  212342.26632399,
        207339.07277466,  293023.67818945,  422562.21294542,
        174880.60668243,  609016.3674241 ,  248227.03395357,
       1218602.95475026,  230310.68773735,  388859.92438581,
        616131.68211567,  261667.74228947,  315144.80355801,
        345682.79491453,   61017.14760412,  323721.42879798,
        214650.37654749,  722279.49511222,  701313.30458671,
        317219.38425846, 1580237.8241824 ,  526812.29920438,
        458964.0294123 ,   60584.41855861,   -8849.34191912,
        284749.39766534, 1109852.02213005,  228236.10703691,
        511677.60475018,  511677.60475018,  317356.47715332,
        268104.60568199,  317044.50846487, 1239945.13928881,
        501071.86231179,  200854.0586944 ,  401305.97963005,
        756393.92558324,  226414.06181816,  249603.90261445,
        230711.2886098 ,  349522.4334349 ,  205268.48202645,
        310095.44470175,  202364.06904583,  292399.22469912,
        284856.06422478,  114161.81627041,  306339.20714941,
        549245.65536641,  253766.3751034 ,  131225.55565674,
        438886.78319788,  507301.37903845,  316033.89600264,
        230372.71447873,  414370.51475284,  102024.04774377,
         22723.36318272,  253623.81329912,  381969.53091201,
       1581152.71427129,  142788.09755066,  526834.96931444,
        236848.74907307,  438019.20726424,  198396.38347121,
        534753.21865582,  403248.67206202,  379879.11450598,
        225873.85200446,  529100.60549523,  709592.67807023,
        261799.73789395,  212234.59492481,  557871.03382619,
        542758.89662409,  218357.30673906, 1891516.8031588 ,
         47581.44931436,  350897.22374487,  224616.93944626,
        207854.20154839,  451583.54512519,  317625.44670469,
        289963.07640866,   91189.33303483,  346882.21437876,
        453012.62034407,  413366.47673775,  856422.84711878,
         25406.52401539,  579122.41649194,  190660.34545683,
        201568.71243569,  215494.2540307 ,  428265.22529347,
        441682.30046225,  541099.23206373,  535997.96707609,
        567314.98929245,  354372.18604577,   44621.48686273,
        530472.72444459,  543982.79625827,  234928.82162827,
        239270.41700878,  513449.15593464,  491449.69095981,
        325943.05789073,  572095.53992208,  465905.20160482,
        939641.65931888,   39221.2035994 ,  347946.53876647,
        442555.29107232,  187170.4786753 ,  555515.14930964,
        184732.73958675,  207847.97780629,  441682.30046225,
        141694.64007659,  613862.585187  ,  337919.75608625,
        270664.96929969,  347447.85273445,  228923.41552684,
        697068.93951533,  -77549.93935771,  448595.37198594,
       1652367.3073838 ,  362722.81791881,  141819.11491862,
         42727.24498315])

In [34]:
r2_score(y_test, y_pred)

0.6468640855097483

In [35]:
scores = []
for i in range(1000):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_transf, lr)
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores.append(r2_score(y_test, y_pred))

In [36]:
np.argmax(scores)

661

In [37]:
scores[np.argmax(scores)]

0.8897680821375169

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=661)
lr = LinearRegression()
pipe = make_pipeline(column_transf, lr)
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
r2_score(y_test, y_pred)

0.8897680821375169

In [39]:
import pickle

In [40]:
pickle.dump(pipe, open("LinearRegressionModel.pkl", "wb"))

In [41]:
# Testing
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti', 2019, 100, "Petrol"]], columns=["name", "company","year", "kms_driven", "fuel_type"]))

array([400802.18914912])